/* header */

.mobile-logo{
    height: auto;
    width: 50px;
}

.c-orange{
    color: orange;
}

.bg-grey{
    background-color: #e9ecef;
}

.navbar ::placeholder{
    color: grey;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.dropdown-menu[data-bs-popper] {
    left: -110px;
}

/* sidebar */

.sidebar {
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    position: absolute;
    height: calc(100vh - 56px);
    overflow: auto;
}

.sidebar a {
    font-size: 20px;
    display: block;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
}

/* main */

main{
    margin-left: 70px;
    overflow: auto;
    height: calc(100vh - 77px);
}

.info{
    background-color: #1b72e8;
}

.bg-superdark{
    background-color: #e9ecef;
}

.bg-superlight{
    background-color: #165bba;
}

.c-avatar{
    height: auto;
    width: 30px;
    margin-right: 10px;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

/* hover */

.sidebar a:hover{
    background-color: white;
    opacity: 0.7;
    color: black;
    border-radius: 10px;
}

.info .new-student:hover{
    background-color: black;
    color: white;
}

i:hover{
    cursor: pointer;
}

/* responsive */

@media screen and (min-width:992px) {
    .sidebar{
        width: 150px;
    }

    .content{
        margin-left: 150px;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }
}