/* section{
    border: 2px dashed red;
}

.container{
    border: 2px dashed blue;
}

.row{
    border: 2px dashed green;
} */

/* header */

.mobile-logo{
    height: auto;
    width: 50px;
}

.c-orange{
    color: orange;
}

.bg-grey{
    background-color: #e9ecef;
}

.navbar ::placeholder{
    color: grey;
}

/* sidebar */

.sidebar {
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    position: absolute;
    height: calc(100vh - 77px);
    overflow: auto;
}

.sidebar a {
    font-size: 20px;
    display: block;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
}

/* main */

main{
    margin-left: 70px;
    overflow: auto;
    height: calc(100vh - 77px);
}

.info{
    background-color: #1b72e8;
}

.bg-superdark{
    background-color: #e9ecef;
}

@media screen and (min-width:992px) {
    .sidebar{
        width: 150px;
    }

    .content{
        margin-left: 150px;
    }
}